/** ====== Sass Variables ====== **/

/** --- theme color variables --- **/
// color setting
// $theme-color: #754FFE;
// $footer-color: #065A46;
// $text-light:#585858;
// $clr-white:#fff;
// $heading-color: #000;
// $body-font-color: #585858;
// $input-br-hover: #295C51; // For Input Border Color on Hover
// color setting
$secondary-color: #F7F7F8;
$btnhover-color: #000;
$border-color:#EAEAEA;
$hyperlink:#2E90FA;
$bg-light: #fcfcfc;
$lighter: #DDDDDD;
$formbg: #F7F7F8;
/** --- theme fonts variables --- **/
$heading-font-family: "SF Pro Text";
$body-font-family: "SF Pro Text";
$secondary-family: "Source Serif 4";
/** --- radius variables --- **/
$radius: 10px;
