.cr-bundle-details-wrapper{
    background: $clr-white;
}
.cr-bundle-details-area {
    gap: 60px;
    z-index: 1;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1464px;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
}
.cr-bundle-details-banner{
    overflow: hidden;
    position: relative;
    background: $formbg;
    .cr-bundle-details-info{
        width: 100%;
        padding: 80px 0;
        max-width: 992px;
    }
    &::before{
        top: 0;
        left: 0;
        content: "";
        width: 87px;
        height: 87px;
        position: absolute;
        filter: blur(97px);
        background: #754FFE;
    }
    &::after{
        right: 0;
        content: "";
        width: 87px;
        height: 87px;
        bottom: 27.84px;
        position: absolute;
        filter: blur(162px);
        background: #00FF44;
    }
}
.cr-bundle-details-info{
    .am-breadcrumb{
        margin-bottom: 4px;
        li{
            a{
                color: rgba($color: $heading-color, $alpha: 0.7);
            }
            span{
                color: rgba($color: $heading-color, $alpha: 0.5);
            }
        }
    }
    .cr-title-box {
        h2{
            margin: 0 0 4px;
            color: $heading-color;
            font: 600 rem(40) / em(56, 40) $heading-font-family;
        }
        p{
            margin: 0;
            color: rgba($color: $body-font-color, $alpha: 0.9);
            font: 400 rem(16) / em(24, 16) $heading-font-family;
        }
    }
}
.cr-bundle-shap-image {
    left: 0;
    bottom: 0;
    object-fit: cover;
    position: absolute;
    pointer-events: none;
}
.cr-bundle-shap-image2 {
    top: 0;
    right: 0;
    object-fit: cover;
    position: absolute;
}
.cr-bundle-shap-image3 {
    right: -110px;
    bottom: -162px;
    object-fit: cover;
    position: absolute;
    animation: orbit 15s linear infinite;
}
.cr-bundle-detail{
    &_wrap{
        flex: auto;
        display: flex;
        flex-direction: column;
        h2{
            margin: 0 0 16px;
            color: rgba($color: $heading-color, $alpha: 0.9);
            font: 600 rem(20) / em(30, 20) $heading-font-family;
        }
        .cr-bundle-pagination{
            margin-top: 6px;
            ul{
                li{padding: 4px;}
            }
        }
    }
    &_description{
        padding: 50px 0;
        p{
            margin: 0;
            color: $body-font-color;
            font: 400 rem(15) / em(24, 15) $body-font-family;
            &+p{
                margin-top: 24px;
            }
            b{
                opacity: 0.9;
                display: block;
                color: $heading-color;
            }
        }
        .toggle-description{
            display: block;
            margin: 4px 0 0;
            color: $body-font-color;
            text-decoration: underline;
            font: 600 rem(14) / em(20, 14) $body-font-family;
        }
        h3{
            margin: 24px 0 0;
            color: $heading-color;
            font: 500 rem(15) / em(24, 15) $heading-font-family;
        }
        ul{
            padding: 0;
            margin: 12px 0;
            li{
                gap: 8px;
                @extend %flex;
                list-style: none;
                padding-left: 20px;
                align-items: center;
                span{
                    display: block;
                    color: rgba($color: $body-font-color, $alpha: 0.9);
                    font: 400 rem(15) / em(24, 15) $body-font-family;
                }
                &+li{margin-top: 8px;}
                br{display: none;}
            }
        }
    }
    &_includecourses{
        padding: 50px 0;
        border-top: 1px solid $border-color;
    }
    &_courseitem{
        @extend %flex;
        overflow: hidden;
        margin-top: 20px;
        flex-wrap: nowrap;
        border-radius: 12px;
        @extend %transition;
        background: $clr-white;
        figure{
            margin: 0;
            width: 100%;
            max-width: 210px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &:hover{
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
        }
    }
}
.cr-bundle-course-detail{
    gap: 16px;
    width: 100%;
    @extend %flex;
    border-left: 0;
    padding: 17.5px 19px;
    align-items: flex-start;
    border-radius: 0 12px 12px 0;
    justify-content: space-between;
    border: 1px solid $border-color;
    h4{
        margin: 0;
        color: rgba($color: $heading-color, $alpha: 0.9);
        font: 500 rem(16) / em(24, 16) $heading-font-family;
    }
    ul{
        padding: 0;
        gap: 8px 18px;
        @extend %flex;
        margin: 5px 0 0;
        align-items: center;
        li{
            gap: 5px;
            @extend %flex;
            list-style: none;
            align-items: center;
            em{
                padding: 1px 5px;
                color: #EA7D10;
                font-style: normal;
                border-radius: 4px;
                background: #FFF6ED;
                font: 500 rem(12) / em(18, 12) $body-font-family;
                i{
                    font-size: 9px;
                    margin-right: 3px;
                    &::before{color: #FDB022;}
                }
            }
            span{
                color: $body-font-color;
                font: 400 rem(14) / em(20, 14) $body-font-family;
            }
        }
    }
    &_content{
        max-width: 600px;
        & > span {
            display: block;
            margin-top: 14px;
            line-clamp: 2;
            flex-wrap: wrap;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font: 400 rem(14) / em(20, 14) $body-font-family;
            color: rgba($color: $body-font-color, $alpha: 0.8);
            p{margin: 0;}
        }
    }
    &_price{
        @extend %flex;
        flex-wrap: nowrap;
        color: $theme-color;
        align-self: flex-start;
        sub{
            font: 600 rem(12) / em(18, 12) $heading-font-family;
        }
        strong{
            font: 700 rem(18) / em(28, 18) $heading-font-family;
        }
    }
}
  
/* Course sidebar */
.cr-bundle-sidebar {
    gap: 20px;
    top: -188px;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-shrink: 0;
    max-width: 413px;
    margin-left: auto;
    position: relative;
    flex-direction: column;
    .cr-bundle-card{
        width: 100%;
        display: flex;
        border-radius: 16px;
        flex-direction: column;
        padding: 16px 16px 20px;
        justify-content: center;
        background-color: $clr-white;
        border: 1px solid $border-color;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        figure{
            margin: 0;
            width: 100%;
            height: 237px;
            position: relative;
            img{
                width: 100%;
                height: 237px;
                object-fit: cover;
                border-radius: 8px;
            }
            figcaption {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 10px;
                background: linear-gradient(0deg, rgba($dark_black, 0.25) 0%, rgba($dark_black, 0.25) 100%);
                > button {
                    right: 10px;
                    width: 50px;
                    bottom: 10px;
                    height: 50px;
                    display: flex;
                    position: absolute;
                    align-self: center;
                    align-items: center;
                    border-radius: 50%;
                    justify-content: center;
                    background-color: rgba($clr-white, 0.2);
                    -webkit-backdrop-filter: blur(2.6666667461px);
                    backdrop-filter: blur(2.6666667461px);
                }
            }
        }
        .cr-card-skeleton{
            padding: 0;
            height: 237px;
            width: 100%;
            border-radius: 10px;
            .cr-image-wrapper-skeleton{
                height: 100%;
                border-radius: 10px;
            }
        }
        .cr-bundle-details{
            margin-top: 20px;
        }
        .cr-price-section {
            width: 100%;
            @extend %flex;
            gap: 10px 43px;
            padding: 0 10px;
            align-items: center;
            justify-content: flex-start;
        }
        .cr-price-wrapper {
            flex: 1;
            gap: 7px;
            display: flex;
            min-width: 240px;
            flex-basis: 20px;
            align-items: center;
            white-space: nowrap;
        }
        .cr-price {
            display: flex;
            color: $theme-color;
            align-items: flex-start;
        }
        .cr-currency {
            font: 600 rem(18) / em(28, 18) $heading-font-family;
        }
        
        .cr-amount {
            font: 600 rem(30) / em(38, 30) $heading-font-family;
        
        }
        
        .cr-discount {
            position: relative;
            font: 400 rem(14) / em(20, 14) $body-font-family;
            color: rgba($color: $body-font-color, $alpha: 0.9);
            svg{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        .cr-discount-label {
            flex: none;
            color: #ec4d40;
            padding: 6px 10px;
            border-radius: 4px;
            text-align: center;
            font: 500 12px/18px $body-font-family;
            background-color: rgba(236, 77, 64, 0.1);
        }
    }
    .am-similar-user{
        height: auto;
        cursor: auto;
        padding: 16px;
        max-width: 100%;
        background: #fff;
        border-radius: 16px;
        border: 1px solid $border-color;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        .am-tutordetail_user{
            gap: 10px;
            figure{
                max-width: 45px;
                img{
                    height: 45px;
                    border-radius: 11.25px;
                }
            }
        }
        .am-tutordetail_user_name{
            h3{
                font: 700 rem(18) / em(28, 18) $heading-font-family;
            }
            span{
                margin-top: -1px;
                font: 400 rem(12) / em(18, 12) $body-font-family;
            }
        }
        .am-tutorreviews-list{
            margin: 16px 0;
        }
        .am-tutorreview-item{
            .wa-tags-list{
                padding-left: 26px;
                ul{
                    li{
                        span{
                            color: $body-font-color;
                            font: 500 rem(14) / em(20, 14) $body-font-family;
                            em{
                                padding: 2px 6px;
                                border-radius: 6px;
                                background: #EFF8FF;
                                color: $body-font-color;
                            }
                        }
                    }
                }
            }
        }
        .cr-instructor-bio{
            margin: 0;
        }
        .cr-profile-footer {
            gap: 14px;
            @extend %flex;
            margin-top: 16px;
            align-items: center;
            justify-content: space-between;
            .cr-social-icons{
                gap: 10px;
                @extend %flex;
                align-items: center;
                li{
                    list-style: none;
                    a{
                        width: 36px;
                        height: 36px;
                        @extend %flex;
                        position: relative;
                        align-items: center;
                        background: $formbg;
                        text-decoration: none;
                        justify-content: center;
                        border-radius: 25.714px;
                        color: $body-font-color;
                        font-size: 14px;
                        .am-tooltip-text{
                            width: auto;
                            bottom: 100%;
                        }
                        &:hover{
                            .am-tooltip-text{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .cr-view-profile-btn {
            padding: 8px 16px;
            color: $theme-color;
            border-radius: $radius;
            background-color: rgba(41, 92, 81, 0.06);
            font: 500 rem(14) / em(20, 14) $body-font-family;
        }
    }
}
.cr-bundle-includes {
    width: 100%;
    display: flex;
    padding: 0 10px;
    margin-top: 10px;
    flex-direction: column;
}
.cr-includes-title {
    margin: 0;
    color: rgba($color: $heading-color, $alpha: 0.8);
    font: 500 rem(14) / em(20, 14) $heading-font-family;
}
.cr-includes-list {
    gap: 10px;
    padding: 0;
    width: 100%;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    .cr-includes-item {
        gap: 10px;
        width: 100%;
        display: flex;
        line-height: 20px;
        align-items: center;
        white-space: nowrap;
        justify-content: flex-start;
    }
}
.cr-includes-text {
    gap: 4px;
    display: flex;
    align-items: center;
}
.cr-includes-value {
    font-weight: 500;
}
.cr-includes-label {
    opacity: 0.8;
    font-weight: 400;
}
.cr-action-buttons {
    width: 100%;
    display: flex;
    margin-top: 24px;
    flex-direction: column;
}
.cr-bundle-footer{
    padding: 60px 0;
    margin-top: 20px;
    background: $formbg;
    &_wrap{
        width: 100%;
        margin: 0 auto;
        padding: 0 12px;
        max-width: 1464px;
        h2{
            margin: 0 0 20px;
            color: rgba($color: $heading-color, $alpha: 0.9);
            font: 600 rem(20) / em(30, 20) $heading-font-family;
        }
    }
    .cr-bundles_exclusive{
        background: transparent;
        .cr-bundles_item{
            border-color: rgba(234, 234, 234, 0.70);
        }
    }
}