.cr-bundles{
    display: flex;
    padding: 24px;
    flex-direction: column;
    & > .am-title_wrap{
        margin: 0;
        align-items: flex-start;
        .am-title{
            width: auto;
            h2{
                opacity: 0.8;
                margin: 0 0 2px;
                font: 600 rem(20)/em(30,20) $heading-font-family;
            }
        }
        .am-btn{
            i::before{color: $clr-white;}
        }
        .am-quizsearuch_header{justify-content: flex-start;}
        .am-searchinput{
            input{
                border-radius: 10px;
                background: $clr-white;
                border: 1px solid $border-color;
            }
        }
    }
    .am-slots_wrap{
        gap: 10px;
        @extend %flex;
        margin-left: auto;
        align-items: center;
        
    }
    &_search{
        width: 100%;
        display: flex;
        max-width: 350px;
        position: relative;
        align-items: center;
        input{
            background: white;
            padding-right: 42px;
            border: 1px solid $border-color;
            &::placeholder{color: $body_font_color;}
        }
        i{
            top: 50%;
            right: 16px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    .am-category-slots{
        gap: 10px;
        padding: 6px;
        @extend %flex;
        list-style: none;
        background: $formbg;
        align-items: center;
        border-radius: 10px;
        li{
            list-style: none;
            text-align: center;
            line-height: normal;
            button{
                padding: 4px 16px;
                border-radius: 6px;
                @extend %transition;
                font: 400 rem(14)/em(20,14) $heading-font-family;
                color: rgba($color: $body-font-color, $alpha: 0.6);
                &:hover,
                &.active{
                    border-radius: 10px;
                    background: $clr-white;
                    color: $body-font-color;
                    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
                }
            }
        }
    }
    &_wrap{
        height: 100%;
        margin-top: 16px;
        > ul{
            margin: -10px;
            display: grid;
            align-items: flex-start;
            grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
            > li{
                height: 100%;
                padding: 10px;
                list-style: none;
            }
        }
    }
    &_item{
        height: 100%;
        @extend %flex;
        flex-wrap: nowrap;
        border-radius: 12px;
        @extend %transition;
        flex-direction: column;
        background: $clr-white;
        padding: 11px 11px 13px;
        border: 1px solid $border-color;
        &:hover{box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);}
        figure{
            margin: 0;
            width: 100%;
            height: 150px;
            position: relative;
            border-radius: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            figcaption{
                gap: 6px;
                top: 10px;
                right: 10px;
                @extend %flex;
                position: absolute;
                align-items: center;
                justify-content: flex-end;
                & > span{
                    gap: 4px;
                    @extend %flex;
                    padding: 3px 6px;
                    color: $clr-white;
                    border-radius: 6px;
                    align-items: center;
                    background: $dark_black;
                    backdrop-filter: blur(37px);                    
                    font: 400 rem(12)/em(18,12) $body-font-family;
                    .cr-dot{
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;    
                    }
                }
            }
        }
        &_content{
            flex: auto;        
            display: flex;
            flex-direction: column;
            padding: 12px 3px 0px;
            h3{
                line-clamp: 1;
                flex-wrap: wrap;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                color: rgba($color: $heading-color, $alpha: 0.7);
                font: 500 rem(14)/em(20,14) $heading-font-family;
                a{
                    color: $heading-color;
                }
            }
            .am-itemdropdown_list{
                min-width: 170px
            }
        }
        &_footer{
            gap: 8px;
            padding: 12px 0;
            list-style: none;
            margin: auto 0 0 0;
            li{
                @extend %flex;
                align-items: center;
                list-style-type: none;
                justify-content: space-between;
                & + li{
                    margin-top: 8px;
                }
                &>span{
                    gap: 6px;
                    display: flex;
                    align-items: center;
                    color: rgba($text-light, 0.8);
                    font: 400 rem(12)/em(18,12) $heading-font-family;
                }
                &>em{
                    color: rgba($dark_black, 0.5);
                    font: normal 500 rem(12)/em(18,12) $heading-font-family;
                }
            }
        }
    }
    &_coursename{
        gap: 10px;
        display: flex;
        align-items: start;
        span:not(.am-status){
            display: block;
            overflow: hidden;
            max-width: 100%;
            min-height: 36px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            color: $body-font-color;
            -webkit-box-orient: vertical;
            font: 400 rem(12)/em(18,12) $heading-font-family;
        }
        .am-status{
            gap: 6px;
            padding: 1px 5px;
            margin-left: auto;
            border-radius: 6px;
            background: $clr-white;
            color: $body-font-color;
            border: 1px solid $border-color;
            &>em{
                width: 8px;
                height: 8px;
                display: block;
                border-radius: 50%;
                border: 1px solid $clr-white;
            }
        }
        .am-itemdropdown{
            margin-left: auto;
            &_list li a{
                white-space: nowrap;
            }
            & > a{
                width: 15px;
                height: 15px;
                background: transparent;
                i::before{color: rgba($color: $dark_black, $alpha: 0.5);}
            }
        }
    }
    &_banner{
        @extend %flex;
        padding: 80px 40px;
        position: relative;
        background: $formbg;
        align-items: center;
        justify-content: center;
        &::before{
            left: 0;
            width: 87px;
            content: "";
            height: 87px;
            top: -13.82px;
            position: absolute;
            border-radius: 50%;
            filter: blur(97px);
            background: #754FFE;
        }
        &::after{
            right: 0;
            width: 87px;
            content: "";
            height: 87px;
            bottom: 131.84px;
            position: absolute;
            border-radius: 50%;
            background: #0F4;
            filter: blur(162px);
        }
        .cr-bundles-banner-img2{
            left: 0;
            bottom: 0;
            position: absolute;
        }
        .cr-bundles-banner-img1{
            top: 0;
            right: 0;
            position: absolute;
        }
        &_content{
            width: 100%;
            max-width: 820px;
            .am-breadcrumb{
                justify-content: center;
            }
            h2{
                margin: 4px 0 0;
                text-align: center;
                color: $heading-color;
                font: 600 rem(40)/em(56,40) $heading-font-family;
            }
            p{
                margin: 4px 0 0;
                text-align: center;
                color: rgba($body-font-color, 0.9);
                font: 400 rem(16)/em(24,16) $body-font-family;
            }
        }
        .cr-searchform{
            max-width: 100%;
            margin-top: 40px;
            .form-group{
                @extend %flex;
                flex-wrap: nowrap;
                align-items: center;
                border-radius: 80px;
                background: $clr-white;
                padding: 8px 8px 8px 20px;
                box-shadow: 0px 4px 20px 0px rgba(16, 24, 40, 0.04);
            }
            .form-control{
                border: 0;
                border-radius: 0;
                max-width: 382px;
                box-shadow: none !important;
                background-color: transparent;
                border-right: 1px solid rgba(234, 234, 234, 0.70);
            }
            .am-btn{
                min-width: 130px;
                min-height: 48px;
                margin-left: 50px;
                padding: 12px 16px;
                border-radius: 60px;
            }
        }
        .cr-customdropdown{
            min-width: 152px;
            margin-left: auto;
            a{
                @extend %flex;
                align-items: center;
                justify-content: space-between;
                font: 400 rem(16) / em(24, 16) $body-font-family;
                color: rgba($color: $body-font-color, $alpha: 0.8);
                i{font-size: 14px;}
            }
            &_list{
                border: 0;
                padding: 16px;
                box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
            }
        }
    }
    &_exclusive{
        padding: 0;
        background: $clr-white;
        .cr-bundles_wrap{
            width: 100%;
            margin: 0 auto;
            max-width: 1480px;
            padding: 60px 20px;
            .am-title{
                margin-bottom: 24px;
                h2{
                    opacity: 0.8;
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
        ul{
            margin: -12px;
            grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
            li{
                padding: 12px;
            }
        }
        .cr-bundles_item{
            padding: 0;
            & > figure{
                border-radius: 10px 10px 0 0;
                img{border-radius: 10px 10px 0 0;}
                figcaption{
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 10px 10px 0px 0px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
                    & > span{
                        left: 0;
                        top: 15px;
                        color: #fff;
                        padding: 4px 5px;
                        position: absolute;
                        position: absolute;
                        border-radius: 0 6px 6px 0;
                        font: 500 12px / 20px "Roboto", serif;
                        background-color: rgb(246, 60, 60);
                    }
                }
            }
            &_content{
                padding:16px;
                h3{
                    margin: 0;
                    color: rgba($color: $heading-color, $alpha: 0.8)
                }
                p{
                    margin: 0 0 16px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    color: $body-font-color;
                    font: 400 rem(14)/em(20,14) $heading-font-family;
                }
            }
        }
        .cr-price-range{
            width: 100%;
            padding: 20px;
            box-shadow: none;
            position: relative;
            border-radius: 8px;
            background-color: rgba($color: $theme-color, $alpha: 0.04); 
            .cr-slider-range {
                border: 0;
                margin: 0;
                width: 100%;
                height: 12px;
                padding: 6px 0;
                box-shadow: none;
                position: relative;
                border-radius: 10px;
                background: transparent;
            }
            .noUi-horizontal .noUi-handle {
                top: -5px;
                border: 0;
                right: -6px;
                width: 12px;
                height: 12px;
                cursor: pointer;
                border-radius: 50%;
                background: #faf8ff;
                border: 1.5px solid $theme-color;
                box-shadow: 0px 2px 4px rgba($dark_black, 0.04),
                    0px 8px 16px rgba($dark_black, 0.08);
            }
            .noUi-connect,
            .noUi-origin {
                top: 0;
                right: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                position: absolute;
                transform-origin: 0 0;
                transform-style: flat;
                will-change: transform;
                -ms-transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                -webkit-transform-style: preserve-3d;
            }
            .noUi-base,
            .noUi-connects {
                z-index: 1;
                width: 100%;
                height: 100%;
                position: relative;
            }
            .noUi-connect {
                background: $theme-color;
            }
            .noUi-connects {
                background: $border-color !important;
                border-radius: 60px 0px 0px 60px !important;
                height: 2px !important;
            }
            .noUi-handle {
                &::after,
                &::before {
                    display: none;
                }
            }
        }    
        .cr-price-inputs {
            gap: 10px;
            display: flex;
            margin-top: 20px;
            align-items: center;
            .cr-option-count{
                color: $body-font-color;
            }
            input{
                gap: 8px;
                display: flex;
                align-items: center;
                border-radius: $radius;
                padding: 10px 16px 10px 40px;
                background-color: $clr-white;
                border: 1px solid $border-color !important;
            }
            .cr-price-input {
                flex: 1;
                min-height: 40px;
                position: relative;
                & > svg{
                    top: 50%;
                    left: 16px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
        }
        .cr-bundle-emptycase_wrap{
            max-width: 286.10px;
        }
    }
    &_user{
        @extend %flex;
        margin-bottom: 6px;
        align-items: center;
        figure{
            width: 24px;
            height: 24px;
            margin-right: 7px;
            display: inline-flex;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        span{
            @extend %flex;
            align-items: center;
            color: $body-font-color;
            font: 400 rem(14)/em(20,14) $body-font-family;
            em{
                font-weight: 500;
                font-style: normal;
                margin: 0 4px 0 5px;
            }
            &:last-child{
                margin-left: auto;
            }
        }
    }
    .cr-bundle-pagination{
        margin-top: 10px;
        ul{
            li{padding: 4px;}
        }
    }
    .cr-confirm-popup{
        .modal-dialog{
            max-width: 400px;
        }
        .am-closepopup{
            top: 10px;
            right: 10px;
            position: absolute;
        }
        .am-modal-body{
            @extend %flex;
            padding-top: 30px;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .am-deletepopup_icon{
            &.warning-icon{
                &::before{background: $theme-color;}
                &::after{background: rgba($color: $theme-color, $alpha: 0.2);}
                &>span{
                    &::before{background: rgba($color: $theme-color, $alpha: 0.5);}
                    &::after{background: rgba($color: $theme-color, $alpha: 0.7);}
                    i:before{color: $theme-color;}
                }
            }
        }
        &_title{
            h3{
                color: rgba($heading-color, 0.87);
                font: 600 rem(16)/em(24,16) $heading-font-family;
            }
            p{
                padding: 0 20px;
                margin-top: 10px;
                color: rgba($body-font-color, 0.6);
                font: 400 rem(14)/em(20,14) $body-font-family;
            }
        }
        &_btns{
            gap: 16px;
            width: 100%;
            display: flex;
            margin: 30px 0px 0px;
            .cr-btnsmall{
                flex: auto;            
                width: 100%;
                height: 36px;
                padding: 8px 14px;
            }
        }
    }
}
.cr-bundlesearch_header{
    gap: 10px;
    width: 100%;
    @extend %flex;
    justify-content: space-between;
}
.cr-bundle-price-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    border-radius: $radius;
    background-color: $formbg;
    justify-content: space-between;
}
.cr-bundle-price-info {
    flex: 1;
    gap: 4.06px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 8.11px 11.36px;
}
.cr-bundle-original-price {
    position: relative;
    color: rgba($body-font-color, 0.9);
    font: 400 rem(12)/em(18,12) $body-font-family;
    img,svg{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
} 
.cr-bundle-discount-line {
    left: 12px;
    width: 36px;
    height: 10px;
    bottom: 17px;
    position: absolute;
}
.cr-bundle-discounted-price {
    display: flex;
    align-items: flex-start;
    .cr-bundle-price-amount{
        color: $theme-color;
        font: 700 rem(16px)/em(24px,16px) $body-font-family;
    }
}
.cr-bundle-duration-info {
    flex: 1;
    flex: none;
    gap: 5.68px;
    display: flex;
    align-items: center;
    padding: 8.11px 11.36px;
    color: $body-font-color;
    font: 400 rem(12)/em(18,12) $heading-font-family;
    i{
        font-size: 16px;
        &:before{
            color: $theme-color;
        }
    }
}